table{
    border-collapse: collapse;
}
td{
    border: 1px solid black;
}
#couleur1{
    color: blue;
    background-color: rgb(194, 194, 88);
}
#couleur2{
    background-color: red;
}
h3{
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
}